.DS_Store
__pycache__
.venv
.env 

planleagning
emner




# Lektioner
#00._course_material/
00._course_material/00._Meta_Course_Material/exam_*
00._course_material/00._Meta_Course_Material/about_the_exam.md
#01._introduction/
#02._decide_framework_convert_code/
#03._linux/
03._linux/solutions/*/
04._linux_win_mac/
05._git_branching_strategies/
06._CI_github_actions/
07._Azure_vm_portal_az/
08._Continous_delivery/
09._CI_code_quality_linting_static_code_analysis/
10._DevOps_transperency_issues_project/
11/
12._CI_PR_code_reviews/
13/
14/
15/
16._CASE_1/
17._CASE_1/
18._CASE_1/
19/
20._cloud/
21/
22/
23._IAC/
24._IAC/
25/
26/
27._Load_balancer_nginx_proxy_kubernetes/
28._CASE_2/
29._CASE_2/
30._exam_project/
31._exam_project/
32._exam_project/
33._exam_project/
