.DS_Store
__pycache__
.venv
.env 

planleagning
emner




# Lektioner
#00._course_material/
00._course_material/00._Meta_Course_Material/exam_*
00._course_material/00._Meta_Course_Material/about_the_exam.md
#01._introduction/
02._decide_framework_convert_code/
03._linux/
04._linux_II/
05._git_branching_strategies/
06._CI_github_actions/
07._CI_code_quality_linting_static_code_analysis/
08._CI_PR_code_reviews/
09._DevOps_transperency_issues_project/
10/
11/
12/
13/
14/
15/
16/
17/
18/
19/
20._cloud/
21/
22/
23/
24/
25/
26/
27/
28._Load_balancer_nginx_proxy_kubernetes/
29/
30._IAC_Terraform/
31._IAC_Terraform/
32/
33/
34/
35/
36/
37/
38/
39/
40/
